body {
  font-family: 'Rock Salt', cursive;
}

button {
  width: 3rem;
  height: 3rem;
  -webkit-box-shadow: 5px 3px 5px 2px #000000;
  box-shadow: 5px 3px 5px 2px #000000;
}

.cu-span {
  font-family: 'Play', sans-serif;
  display: block;
  width: 100%;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: end;
  position: absolute;
  bottom: 0;
  border: 1px solid transparent;
}

.cu-span--error {
  background-color: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb;
}

.cu-span--warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.cu-box {
  width: 18rem;
  border-radius: 5%;
  background-color: #484545;
  -webkit-box-shadow: 5px 5px 5px 2px #000000;
  box-shadow: 5px 5px 5px 2px #000000;
}

.cu-visor {
  font-family: 'Play', sans-serif;
  font-size: 1.25rem;
  word-wrap: break-word;
  min-height: 6rem;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

/*
shadow
https://html-css-js.com/css/generator/box-shadow/*/