body {
  font-family: 'Rock Salt', cursive;
}

.box {
  width: 18rem;
  border-radius: 5%;
}

.visor {
  min-height: 6rem;
  background-color: white;
  margin: 20px;
}

.in {
  height: 100%;
  background-color: tomato;
}

button {
  width: 3rem;
  height: 3rem;
}